// html {
//   font-size: 62.5%;
// }

.Canvas {
  width: calc(100vw - 17rem);
  // height: 98vh;
  // overflow: scroll;
  // margin: 1vh 1vw;

  @media (max-width: 768px) {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 4rem;
    width: 100%;
    height: calc(100vh - 5rem);
  }
}

// .Canvas::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px #4444444d;
//   border-radius: 10px;
//   background-color: #ffffff;
// }

// .Canvas::-webkit-scrollbar {
//   width: 8px;
//   height: 10px;
//   background-color: #eaeaea;
//   border-radius: 10px;
// }

// .Canvas::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: lightgray;
// }

//   body {
//     overflow-x: hidden !important;
//     height: 100vh !important;
//     width: 100vw !important;
//     font-size: 1.6rem;

//     @media (max-width: 768px) {
//       // overflow-y: scroll !important;
//     }
//   }

.MainContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.MainContainer--pro {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100vh !important;
}

@media (min-width: 768px) {
  .MobilePenDots {
    display: none;
  }
}

@media (max-width: 768px) {
  .MobilePenDots {
    height: 10rem;
    width: 5rem;
    // background-color: red;
    position: fixed;
    top: 50vh;
    right: 0rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &--1 {
      height: 3rem !important;
      margin-bottom: 0.3rem !important;
    }
    &--2 {
      height: 2.5rem !important;
      margin-bottom: 0.3rem !important;
    }
    &--3 {
      height: 2rem !important;
      margin-bottom: 0.3rem !important;
    }
    &--4 {
      height: 1.5rem !important;
      margin-bottom: 0.3rem !important;
    }
  }
}
