.Sidebar--opened {
  transform: translateX(0) !important;
  opacity: 1 !important;
  transition: all 0.2s ease;
}

.Sidebar {
  background-color: #ffff;
  border-left: 2px solid rgba(#999, 0.2);
  border-right: 2px solid rgba(#999, 0.2);
  position: fixed;
  top: 0;
  left: 6rem;
  width: 20rem;
  z-index: 999;
  transform: translateX(-150%);
  opacity: 0;
  padding: 1rem 0;
  height: 100%;
  transition: all 0.2s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    height: 2.5rem;
    width: auto;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }

  .image-container {
    display: grid;
    grid-template-columns: auto auto;
    max-height: 100vh;
    overflow-y: scroll;
  }
  .image-item {
    padding: 5px;
    text-align: center;
  }
  li {
    width: 100%;
    padding: 1rem;
    list-style: none;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      color: blue;
    }
  }

  .border {
    border-bottom: 1px solid rgba(#999, 0.1);
    margin-bottom: 0.5rem;
  }

  &--bottom {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
    }

    span {
      font-family: "Handlee", cursive;
      font-size: 1.8rem;
      color: #000;
      font-weight: bold;
      text-transform: capitalize;
      margin-top: 1rem;
    }

    img {
      height: 13rem;
      width: auto;
      background-size: cover;
      background-position: center;
      object-fit: cover;
    }
  }
}
